/* Generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0D0D0D;
    color: #EAEAEA;
    margin: 0;
    padding: 0;
}

/* Main */
main {
    border: 3px solid #00FFFF; /* Borde celeste */
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px; /* Limita el ancho del contenido */
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

/* Servicios */
.servicio {
    width: 100%;
    text-align: center;
}

.titulo-servicio {
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    color: #FF0099;
}

/* Ajustes de imágenes */
.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Galería de imágenes */
.imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 90vw;
}

.imagenes img {
    width: 100%;
    height: 850px; /* Puedes ajustar la altura según prefieras */
    object-fit: cover;
    box-shadow: 0px 0px 30px #00FFFF;
}

.imagenes img:nth-child(3),
.imagenes img:nth-child(4) {
    grid-column: span 2; /* Hace que la imagen ocupe toda la fila */
}

/* Botón */
.boton {
    background-color: #0D0D0D;
    color: #00FFFF;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid #00FFFF;
    transition: 0.3s;
}

.boton:hover {
    background-color: #00FFFF;
    color: #FF0099;
}

/* Media Queries para Responsividad */

/* Tablet */
@media (max-width: 768px) {
    .titulo-servicio {
        font-size: 2rem;
    }

    .imagenes {
        grid-template-columns: 1fr; /* Una sola columna en tablet */
    }

    .boton {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}

/* Móviles */
@media (max-width: 480px) {
    main {
        padding: 1.5rem;
        margin: 1rem;
    }

    .titulo-servicio {
        font-size: 1.5rem;
    }

    .imagenes {
        grid-template-columns: 1fr; /* En móvil, todas las imágenes en una columna */
    }

    .boton {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}
